[submodule "zipr_umbrella"]
	path = zipr_umbrella
	url = git@git.zephyr-software.com:allnp/peasoup_umbrella.git
	branch = master
[submodule "zfuzz/libzafl"]
	path = libzafl
	url = git@git.zephyr-software.com:opensrc/libzafl.git
[submodule "move_globals"]
	path = move_globals
	url = git@git.zephyr-software.com:allnp/move_globals.git
